@{
    ViewBag.Title = "Resumen";
    ViewBag.SectionTitle = "Interfaz de consulta";
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
}
<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-info"></i>
        <h3 class="box-title">Información de contrato y bolsa de horas</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div style="width:256px; margin:0 auto"><img src="@Url.Content("~/dist/img/document-256x256.png")" alt="Sin detalle de contrato" /></div>
        <div class="alert alert-info alert-dismissible">
            <h4><i class="icon fa fa-info"></i> Información!</h4>
            Por favor seleccione un contrato de la lista para visualizar los detalles del mismo.
        </div>
    </div>
</div>