@{
    ViewBag.Title = "Resumen";
    ViewBag.SectionTitle = "Panel de visualización";
    Layout = "~/Views/Shared/_Layout_Back.cshtml";
}

<!-- Small boxes (Stat box) -->
<div class="row">
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
</div>
<!-- /.row (main row) -->