<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MySqlDefaultConnectionString" connectionString="Server=MYSQL5009.Smarterasp.net;Database=db_9fbcd4_itopfe;Uid=9fbcd4_itopfe;Pwd=B3FUtRGXKPpA5crY;Pooling=false;" providerName="MySql.Data.MySqlClient" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="iTopPlatformConnectionString" connectionString="Server=MYSQL5009.Smarterasp.net;Database=db_9fbcd4_itopp;Uid=9fbcd4_itopp;Pwd=6UAcZY3ctMWqUmwq;Pooling=false;" providerName="MySql.Data.MySqlClient" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="reCAPTCHA_SiteKey" value="6LcMKyYTAAAAAAUnKCBl9EdVatEqdRywohi1CYb7" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="reCAPTCHA_SecretKey" value="6LcMKyYTAAAAAInUbxPrQ7n6uA_xtF5ZKHp-tKDJ" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="FEiTopPlatformSchema" value="db_9fbcd4_itopfe" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iTopPlatformSchema" value="db_9fbcd4_itopp" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="iTopAPIAuth_Url" value=".../webservices/rest.php?version=1.3" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iTopAPIAuth_User" value="" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iTopAPIAuth_Pass" value="" lockItem="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="NotificationSubject" value ="Notificación bolsa de horas." lockItem ="true"/>
    <add key="DefaultNotificaciontSenderUserId" value ="1" lockItem ="true"/>
  </appSettings>
  <system.web>
    <sessionState timeout="15" mode="InProc"></sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace"></customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.data xdt:Transform="Insert">
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>