<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="MySqlDefaultConnectionString" />
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Tier.Gui-20160721090333.mdf;Initial Catalog=aspnet-Tier.Gui-20160721090333;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MySqlDefaultConnectionString" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=$N3tdr01x;Pooling=false;" providerName="MySql.Data.MySqlClient" lockItem="true" />
    <add name="iTopPlatformConnectionString" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=$N3tdr01x;Pooling=false;" providerName="MySql.Data.MySqlClient" lockItem="true" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ApplicationName" value="Portal Clientes KAPPA10" lockItem="true" />
    <add key="WindowsEventLogApplicationName" value="Portal Clientes KAPPA10" lockItem="true" />
    <add key="reCAPTCHA_SiteKey" value="6Le28yYTAAAAANnWXkBSRLkHLJeuHPbj7q1UaFmF" lockItem="true" />
    <add key="reCAPTCHA_SecretKey" value="6Le28yYTAAAAAMmzRZH3zIBOhdBaHm_ahm-uIWdk" lockItem="true" />
    <add key="reCAPTCHA_Url" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" lockItem="true" />

    <add key="iTopPlatformSchema" value="itop" lockItem="true" />
    <add key="FEiTopPlatformSchema" value="db_9fbcd4_itopfe" lockItem="true" />

    <add key="iTopAPIAuth_Url" value="http://10.1.1.2:90/servicedeskkappa10/webservices/rest.php?version=1.3" lockItem="true"/>
    <add key="iTopAPIAuth_JsonData" value="{{&quot;operation&quot;: &quot;core/check_credentials&quot;,&quot;user&quot;: &quot;{0}&quot;,&quot;password&quot;: &quot;{1}&quot;}}" lockItem="true"/>
    <add key="iTopAPIAuth_User" value="admin" lockItem="true"/>
    <add key="iTopAPIAuth_Pass" value="K4pp4102016!!" lockItem="true"/>

    <add key="NotificationSubject" value ="Notificación bolsa de horas." lockItem ="true"/>
    <add key="DefaultNotificaciontSenderUserId" value ="1" lockItem ="true"/>
  </appSettings>
  <system.web>
    <sessionState timeout="15" mode="InProc"></sessionState>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="RemoteOnly"></customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Portal Clientes KAPPA10 &lt;r@netdroix.com.co&gt;">
        <network host="mail.netdroix.com.co" port="25" enableSsl="false" defaultCredentials="false" userName="r@netdroix.com.co" password="rrojas2016." />
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CM_Ws.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>